.titulo{
    position: absolute;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
}

.seta-voltar{
    position: absolute;
    z-index: 80;
}

.titulo-doar-dinheiro{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.formataForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioDoaDinheiro{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDoaDinheiro1, .formDoaDinheiro2, .formDoaDinheiro3, .formDoaDinheiro4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formDoaDinheiro4{
    
    position: absolute;
    margin-top: 13.98rem;
    margin-right: 52.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    font-weight: bold;
}

.form-check-dinheiro{
    position: absolute;
    margin-top: 12.7rem;
    margin-left: 47.7rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.doaConfirma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 37.78rem;
    flex-direction: row;
}


.teste{
    width:200px;
    height:100px;
    background:#f00;
    position:absolute;
    z-index:100;
    top:30%;
    left:40;
    }


.botoesPagamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.infoBotaoDoa{
    width: 24.8rem;
    height: 2.198rem;
    border-radius: 0.285rem;
  }

.allTable{
    display: flex;
    align-items: flex-start;
    margin-left: -52rem;
}

.tabelaBenef{
    overflow-y: scroll;
    background-color: gainsboro;
    width: 24.8rem;
    height: 12rem;
    padding: 0.25rem 0.9rem;
    border-radius: 1.156rem;
    margin-top: -7.7rem;
    justify-content: space-evenly;
}

.titulosTabela{
    align-content: center;
    justify-content: space-between;
}

.bodyEnt{
    align-content: center;
    justify-content: space-between;
}


td {
    text-align:center;
 vertical-align:middle;

    align-content: center;
    justify-content: space-between;
}


    /* Botões popup */

    .modalDialog1,.modalDialog2,.modalDialog3 {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
      }
    
      .modalDialog1:target, .modalDialog2:target , .modalDialog3:target {
        opacity: 1;
        pointer-events: auto;
      }
      .modalDialog1> div,.modalDialog2> div,.modalDialog3 > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
      }
      .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
      }
      .close:hover {
        background: #36B497;
      }

/* 
@media only screen and (max-width: 1500px){
.allTable {
    margin-left: -52.5rem;
}
}

@media only screen and (max-width: 1200px){
    .allTable {
        margin-left: -52.5rem;
    }
    } */